.shapes__wrapper {
  border-right: 1px solid grey;
  float: left;
  margin: 4%;
}

.shape__config {
  float: right;
  margin-right: -55%;
  margin-top: 17%;
}

.svg__wrapper {
  width: 300px;
  height: 200px;
}

.buttons_wrapper {
  position: absolute;
  float: right;
  right: 6%;
  bottom: 4%;
}

.icon-color {
  -webkit-text-fill-color: #5858f8;
}

.seq-position {
  transform: translate(99px);
}

.circle-position {
  transform: translate(-27px, 30px);
}

.tri-position {
  transform: translate(31px);
}

.bottom {
  margin-bottom: 9%;
}
